.sidebar {
  width: 250px;
  height: 100vh;
  box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.sidebar__input {
  margin: 20px 10px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 5px 10px;
  display: flex;
  input {
    width: 100%;
    font-size: 14px;
    padding: 0 5px 0 0;
  }
}
.sidebar__main {
  height: calc(100vh - 70px);
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0;
}
